<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil | Moteur de visualisation</title>
</head>

<body>

    <div style="width: 50%; margin: auto;">

        <%- include('./components/header') %>

            <section>
                <form action="/notes" method="post">
                    <input type="hidden" id="id" name="id">
                    <label for="title">Titre</label><br>
                    <input type="text" id="title" name="title"><br>
                    <br>
                    <label for="description">Description</label><br>
                    <textarea name="description" id="description" cols="30" rows="10"></textarea> <br>

                    <input type="submit" value="Send">

                </form>
            </section>
            <p>
                <hr>
            </p>

            <section>
                <h2>Liste de notes</h2>
                <ul>
                    <% for(i=0; i < result.length; i++ ){%>
                        <h3>
                            <%= result[i].title %>
                        </h3>
                        <p>
                            <%= result[i].description %>
                        </p>
                        <input type="button" value="Supprimer" onclick="deleteNote('<%= result[i].id %>')">
                        <input type="button" value="Modifier"
                            onclick="remplirDonnee('<%= result[i].id %>','<%= result[i].title %>', '<%= result[i].description %>' )">

                        <%}%>
                </ul>
            </section>
    </div>
</body>
<script>
    function remplirDonnee(id, title, desc) {
        document.getElementById('id').value = id
        document.getElementById('title').value = title
        document.getElementById('description').value = desc
    }

    function deleteNote(id) {
        let pointFinal = "notes/" + id
        fetch(
            pointFinal, { method: "DELETE" }
        ).then(
            (response) => response.json()
        ).then(
            (donnee) => window.location.href = donnee.routeRacine
        ).catch((erreur) => console.log(erreur));
    }
</script>

</html>